{% extends 'layout.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=flashes>
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <div class="profile-box">
        <div class="settings-box">
            <div class="settings-left">
                <p>Change Profile Image:</p>
                <form method="post" action="{{ url_for('settings') }}">
                    <select class="form-control max-auto w-auto" autocomplete="off" placeholder="Select a photo" name="selectedimg">
                        {% for img in prof_imgs %}
                            <option value="{{ img['img_desc'] }}">{{ img['img_desc'] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="post-btn" type="submit" name="submitpic" value="submitpic">Confirm</button>
                </form>
            </div>
            <div>
                <p>Edit Your Bio:</p>
                <form method="post" action="{{ url_for('settings') }}">
                    <div>
                        <textarea class="settings-right" name="bio" autocomplete="off" required placeholder="Say something about yourself..."></textarea>
                        <button class="post-btn" type="submit" name="submitbio" value="submitbio">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}